<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>conditional statement in thymeleaf</title>
</head>
<body>
	<h2>Conditional statement in thymeleaf</h2>
	<h2>User is <span th:style="${isActive} ?'color:green' : 'color:red' "
	th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'"></span></h2>
	<h2 th:if="${gender} == 'M'" >Male</h2>
	<h2 th:unless="${gender}=='M'">Female</h2>
	  
	<div th:switch="${#lists.size(mylist)}">
	<h1 th:case="'0'">List contain zero element</h1>
	<h2 th:case="'1'">List contain one element</h2>
	<h1 th:case="*">List contain more than one elements</h1>
	
	</div>
</body>
</html>