<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8" />
	<title>example page</title>
	<link rel="stylesheet" href="" th:href="@{/css/style.css}" />
</head>
<body>

<img class="profile" th:src="@{/images/profile.png}" alt="" />

	<div class="container">
	<h1>Adding CSS , javascript and Image in Thymeleaf</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ipsum facilis ex nobis itaque corporis quo dolorem provident corrupti modi officiis molestiae animi! Rem eaque vero in atque quam cupiditate.</p>

</div>
</body>
<script th:src="@{/js/myjs.js}"></script>
</html>