<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>
	<footer th:fragment="footer1(title,subtitle)">
	<div class="container">
	
	<h1 th:text="${title}"></h1>
	<h1 th:text="${subtitle}"></h1>
	<h1>About LearnCodeWith Durgesh</h1>
	<h2>Provide Good content about Programming</h2>
	<h1>Feel free to contact and work with me</h1>
	
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nam rem ad quos asperiores perspiciatis libero vitae dolores architecto repudiandae ullam aspernatur veniam. Dolores perspiciatis illo dolorem soluta explicabo voluptatibus!</p>
	
	</div>
	
	</footer>
</body>
</html>